@import url('https://fonts.googleapis.com/css?family=Laila: 300, 400, 500, 600, 700|Slabo+27px:200, 300, 400, 500, 600, 700');




body {
    background-image: url('../pictures/font1.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0;
    line-height: 1em;

}

/*-------------index.html------*/

.col {
    text-align: center;
    text-shadow: 1px 1px #000;
    display: block;

}

.menu-row{
    display: inline-block;
    width: 80px;
    height: 30px;
    margin:5px;
}

h1 {
    font-family: 'Slabo 27', serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    border: 4px solid #fff;
    background-color: rgba(0, 0, 0, 0.4);

    margin-left: 40px;
    margin-right: 40px;
    font-size: 60px;
    margin-top: 60px;


}

a {
    color: #DEE2E2;
    text-shadow: 1px 1px #000;


}

a:hover {
    text-decoration: none;
    color: #636665;


}

h1:hover {

    background-color: rgba(0, 0, 0, 0.1);
}




.style-main-content {
    font-family: 'Laila', serif;
    font-weight: 400;

    font-size: 45px;
    margin-top: 15%;
}



.name {
    font-size: 30px;

}

.con {
    margin-top: 50px;
    color: #DEE2E2;
}

i {
    color: #F9C8D3;


}


/*-------bg-colors--------------*/

.bg-color {
    background-color: #DEE2E2;
}

.bg-color-footer {
    background-color: #BAE2DA;
}



/*-----Home-Page.html----*/

section {
    margin-top: 80px;
    padding: 25px;
}



.pic {
    float: left;
    clear: left;
    width: 30%;
    border-radius: 100px;
    box-shadow: 1px 1px #000;
    margin: auto;


}


.orga {
    float: left;
    clear: left;
    margin: auto;
    width: 30%;
    box-shadow: 1px 1px #000;

}

.group {
    float: right;
    clear: right;
    width: 60%;
    margin: 5px;
    font-family: 'Laila', serif;
    font-weight: 300;
}

h4 {
    font-family: 'Laila', serif;
    font-weight: 700;
    text-align: center;
}

/*-----footer----*/

footer {
    padding: 25px;
    padding-top: 40px;
    min-height: 100%;


}

.text {
    font-family: 'Slabo 27', serif;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
}

.social-list-items {
    list-style: none;
    display: inline;
    margin-right: 8px;
    text-align: center;

}

.key i {
    text-shadow: 1px 1px #000;
}

.key i,
.social-list-items a i {
    font-size: 25px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.social-list-items a i:hover {
    color: #504679;
}

.key {
    float: left;

}


/*-----------enquire---*/

.heading {
    font-family: 'Slabo 27', serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;

}

.center-form {
    margin: 0 auto;
    padding-top: 15px;
    max-width: 60%;
}

button[type='submit'] {
    margin-top: 10px;
    color: #F9C8D3;

}

button[type='submit']:hover {
    background-color: #504679;
}


/*-------HowWeWork ------*/

.progress {
    font-family: 'Slabo 27', serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}

/*-------services ------*/

.info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.info-item .key-info,
.info-item .value-info {
    display: inline-block;
    margin-right: 10px;
}

.info-item .key-info {
    width: 30%;
    vertical-align: top;
    font-weight: 500;

}


.info-item .value-info {
    position: relative;
    width: 60%;
}


/*----------story---*/

.card{
    display: inline-block;
    margin:10px;
}

.card-title,
.card-text{
    font-family:'Slabo 27', serif;
    font-weight: 200;
    text-shadow: none;
}

.audio-placeholder{
    margin: 10px;
}

video,
audio{
   padding: 10px;
}